
.CombatHitTable {
    border-spacing: 0px 2px;
}

.CombatHitTable tr {
}

.CombatHitTable td {
    font-family: "Courier Prime";
    font-size: 85%;
    padding: 0px 4px;
}

.ComEntry_sta {
    background-color: #FED;
}
.ComEntry_lig {
    background-color: #FDC;
}
.ComEntry_ser {
    background-color: #FCB;
}
.ComEntry_unc {
    background-color: #FBA;
}
.ComEntry_kil {
    background-color: #FFAF88;
}

.DarkTheme .ComEntry_sta {
    background-color: #500;
}
.DarkTheme .ComEntry_lig {
    background-color: #6C1700;
}
.DarkTheme .ComEntry_ser {
    background-color: #820;
}
.DarkTheme .ComEntry_unc {
    background-color: #A42200;
}
.DarkTheme .ComEntry_kil {
    background-color: #BB3800;
}
