.CombatVillainTable {
    border-spacing: 8px 0px;
    border: 1px solid #CCC;
    padding: 4px;
}

.CombatVillainTable td {
    font-family: "Courier Prime";
    font-size: 85%;
}

.CombatVillainTable th {
    font-weight: normal;
    font-size: 85%;
    text-align: left;
}


.CombatHitTable {
    border-spacing: 0px 2px;
    border: 1px solid #CCC;
    padding: 4px;
}

.CombatHitTable th {
    font-weight: normal;
    font-size: 85%;
}

.CombatHitTable tr.RowLabel td {
    padding-top: 12px;
    padding-bottom: 4px;
    text-align: center;
}

.CombatHitTable td {
    font-family: "Courier Prime";
    font-size: 85%;
    padding: 0px 4px;
}

.SlightlySpacySlash {
    padding: 0px 2px;
}

.ComEntry_sta {
    background-color: #FED;
}
.ComEntry_lig {
    background-color: #FDC;
}
.ComEntry_ser {
    background-color: #FCB;
}
.ComEntry_unc {
    background-color: #FBA;
}
.ComEntry_kil {
    background-color: #FFAF88;
}

.DarkTheme .ComEntry_sta {
    background-color: #500;
}
.DarkTheme .ComEntry_lig {
    background-color: #6C1700;
}
.DarkTheme .ComEntry_ser {
    background-color: #820;
}
.DarkTheme .ComEntry_unc {
    background-color: #A42200;
}
.DarkTheme .ComEntry_kil {
    background-color: #BB3800;
}
